{% extends 'base.html.twig' %}

{% block contenu %}

<ul class="list-group">
        <li class="list-group-item" style="text-align:center">Identifiant du stage : </li>
        <li class="list-group-item">Titre du stage : </li>
        <li class="list-group-item">Nom : </li>
        <li class="list-group-item">Activitées : </li>
        <li class="list-group-item">Adresse : </li>
        <li class="list-group-item">Description : </li>
        <li class="list-group-item">Adresse mail : </li>
</ul>

{% endblock %}