{% extends 'base.html.twig' %}

{% block titrePage %}Ajout d'une formation{% endblock %}

{% block contenuPage %}
    {{ include('formation/_form.html.twig') }}

    <a href="{{ path('formation_index') }}">Retour à la liste des formations</a>
{% endblock %}
